<ul class="collapsible filter-settings">
  <li>
    <div class="collapsible-header"><i class="fas fa-cog"></i> Filter Settings</div>
    <div class="collapsible-body green lighten-5"> 
      <div class="source-filter">
        <label>
          <input type="checkbox" value="MSNBC" checked="checked" />
          <span>MSNBC</span>
        </label>
        <label>
          <input type="checkbox" value="CNN" checked="checked" />
          <span>CNN</span>
        </label>
        <label>
          <input type="checkbox" value="Fox News" checked="checked" />
          <span>Fox News</span>
        </label>
      </div>
      <hr>
      <div class="category-filter">
        <label>
          <input type="checkbox" class="filled-in" value="politics" checked="checked" />
          <span>Politics</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" value="US" checked="checked" />
          <span>US</span>
        </label>
          <label>
          <input type="checkbox" class="filled-in" value="technology" checked="checked" />
          <span>Technology</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" value="business" checked="checked" />
          <span>Business</span>
        </label>
          <label>
          <input type="checkbox" class="filled-in" value="travel" checked="checked" />
          <span>Travel</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" value="health" checked="checked" />
          <span>Health</span>
        </label>
          <label>
          <input type="checkbox" class="filled-in" value="entertainment" checked="checked" />
          <span>Entertainment</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" value="world" checked="checked" />
          <span>World</span>
        </label>
          <label>
          <input type="checkbox" class="filled-in" value="other" checked="checked" />
          <span>Other</span>
        </label>
      </div>
    </div>
  </li>
</ul>