<div id="articleModal" class="modal">
  <div class="modal-content">
    <h5></h5>
    <p id="articleInfo"></p>
    <table id="articleComments">
      <tbody></tbody>
    </table>
    <div class="row">
      <form id="addCommentForm" class="col s12 teal lighten-5">
        <div class="input-field col s12">
          <label for="comment-content">Content</label>
          <input id="commentContent" type="text" class="validate" minlength="3" maxlength="240" required>
        </div>
        <div class="col s12 right-align">
          <button id="addCommentBtn" class="waves-effect waves-light btn" type="submit">Add Comment</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>